<!DOCTYPE HTML>
<html lang="en" class="h-100" data-bs-theme="light">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CABA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>

    <body class="d-flex h-100 text-center text-bg-light">
    
        <div class="container">

            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

                <header class="mb-auto">
                    <div>
                        <h3 class="float-md-start mb-0">CABA</h3>
                        <nav class="nav nav-underline justify-content-center float-md-end">
                            {% for i in menu %}
                            <a class="{{ i[2] }}" aria-current="page" href="{{ i[1] }}">{{ i[0] }}</a>
                            {% endfor %}
                        </nav>

                    </div>
                </header>

                <main class="px-3">
                    <div class="mb-3">
                        <h1>Интерактивное веб-приложение САВА</h1>
                        <br>
                        <h2>Назначение</h2>
                    </div>

                    <p class="lead">
                        «САВА» представляет собой интерактивное веб-приложение для оказания неотложной помощи детям и взрослым на догоспитальном этапе, а также осуществления обучающей деятельности, в том числе, симуляционных тренингов, разработанное в соответствии с актуальными протоколами и клиническими рекомендациями.
                    </p>

                    <p class="lead">
                        Представляет собой пошаговый алгоритм, состоящий из двух блоков:
                    </p>

                    <p class="lead">
                        Диагностический блок: С его помощью осуществляется комплексная динамическая оценка состояния основных жизненных параметров пациента: неврологического статуса, состояния систем дыхания и кровообращения с выделением основного патологического синдрома/синдромов, непосредственно представляющих опасность для пациента.
                    </p>

                    <p class="lead">
                        Лечебный блок: На основании данных, полученных при пошаговом прохождении диагностического блока, позволяет осуществить необходимый перечень технических манипуляций и лечебных мероприятий с учетом возраста и массы тела пациента. Позволяет осуществить оценку эффективности проводимых мероприятий, а также изменить лечебную тактику при ухудшении состояния пациентов, появлении других клинических признаков.
                    </p>

                    <p class="lead">
                        Dеб-приложения со схожими функциональными возможностями в российском сегменте не представлены. В отличие от аналогов на бумажных носителях, «САВА» представляет собой интерактивное веб-приложение, устанавливаемое на электронное устройство. С помощью простого, понятного, пошагового интерфейса «САВА» позволяет быстро осуществить комплексную оценку состояния пациента, выделить  основные угрожающие жизни состояния и осуществить необходимый перечень тактических и лечебных мероприятий с учетом индивидуальных параметров пациента, а также оценить результаты лечения. Позволяет изменить лечебную тактику при ухудшении состояния пациентов, появлении других клинических признаков.
                    </p>

                    <p class="lead">
                        Помимо применения непосредственно в процессе оказания неотложной помощи, «САВА» может быть использована как для дистанционного, так и для очного обучения с применением симуляционных технологий.
                    </p>

                    <br>
                    <div class="mb-3">
                        <h2>Целевая аудитория</h2>
                    </div>

                    <p class="lead">
                        Врачи, средний медицинский персонал, прочий персонал, учащиеся средних и высших учебных заведений медицинского и немедицинского профиля оказывающие неотложную помощь на догоспитальном этапе.
                    </p>

                    <br>
                    <div class="mb-3">
                        <h2>Как пользоваться веб-приложением САВА?</h2>
                    </div>

                    <p class="lead">
                        Для предоставления доступа к веб-приложению, при первичной регистрации пользователь вводит, предоставленные системным администратором, логин и пароль (одновременно активен только на двух устройствах).
                        Для запуска приложения нажимается кнопка «Начать».
                    </p>

                    <br>
                    <img src="/static/images/image1.jpg " class="img-fluid">
                    <br>
                    <img src="/static/images/image2.jpg " class="img-fluid">
                    <br>

                    <p class="lead">
                        Выполняя последовательность действий, нажимая кнопки «Выполнить», «Далее», «Назад», односложно отвечая на вопросы ответами типа «Да», «Нет», пользователь при помощи приложения осуществляет комплексную оценку состояния пациента.
                    </p>

                    <br>
                    <img src="/static/images/image3.jpg " class="img-fluid">
                    <br>
                    <img src="/static/images/image4.jpg " class="img-fluid">
                    <br>

                    <p class="lead">
                        Веб-приложение при этом определяет последовательность выполнения технических манипуляций и медикаментозного лечения пациента (в зависимости от возраста и веса пациента).
                    </p>

                    <br>
                    <img src="/static/images/image5.jpg " class="img-fluid">
                    <br>

                    <p class="lead">
                        Приложение позволяет оценивать в динамике основные клинические показатели, результаты лечения пациента, изменять тактику лечения при изменении его состояния  (как внутри самого алгоритма, так и нажатием кнопки «В начало»).
                    </p>

                    <p class="lead">
                        <a href="/main" class="btn btn-lg btn-primary">На главную</a>
                    </p>




                </main>

                <footer class="mt-auto text-black-50">
                    <p>Интеллектуальная собственность <a href="https://nstu.ru/" class="text-black">NSTU</a></p>
                </footer>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>

</html>